[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
django-storages = "*"
gunicorn = "*"
pillow = "*"
psycopg2 = "*"
whitenoise = "*"
urllib3 = "*"
boto3 = "*"
sqlparse = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
